.char-portrait {
    width: 300px;   /* Genişliği sabitledik */
    height: 400px;  /* Yüksekliği sabitledik */
    object-fit: contain; /* Görseli bozmadan kutunun içine sığdırır */
    margin-bottom: 20px;
    filter: drop-shadow(5px 5px 0px rgba(0,0,0,0.1));
    display: block;
    margin-left: auto;
    margin-right: auto;
}
